@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 3fr 2fr;
    }

    .area3 {
        grid-template-columns: 3fr 2fr;
    }

    .area4--img1 {
        background-size: cover;
        background-position: left;
    }

    .area5 {
        background-position: right;
    }
}
@media (max-width: 420px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header--menu {
        margin-left: 35px;
    }

    .header--search input {
        width: 40vw;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .banner p {
        max-width: 15em;
    }

    .banner--images img{
        width: 80px;
        height: 80px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 20px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    .area1--img1,
    .area2--img1 {
        height: 200px;
    }

    .area4--img1 {
        background-size: 400px;
    }

    .area5 {
        background-size: contain;
        height: 200px;
    }

    footer {
        font-size: 12px;
        padding: 40px 20px;
    }
}